.container{
    position: absolute;
    width: 340px;
    height: 520px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 20px #215e88;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} 

.curve{
    margin-left: -260px;
    margin-top: -460px;
    width: 1050px;
    height: 850px;
    background-color: #215e88;
    border-radius: 100%;
}

.login-google{
    all: unset;
    background-color: #215e88;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    color: white;
    text-align: center;
    margin-left: 25px;
    margin-top: 50px;
}

.text  {
    z-index: 3;
    position: fixed;
    top: 70px;
    width: 350px;
    text-align: center;
    font-size: 40px;
    color: white;
}
.text-below  {
    z-index: 3;
    position: fixed;
    top: 130px;
    width: 350px;
    text-align: center;
    font-size: 20px;
    color: white;
}
.icon{
    z-index: 3;
    position: fixed;
    top: 200px;
    margin-left: 120px;
    border-radius: 100px;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 20px;
    background-color: white;    
}

