a {
    all: unset;
}
body {
    background-color: lightcoral;
}

nav {
    opacity: 0.8;
}

nav ul {
    opacity: 1;
    font-weight: bold;
}

.section-1 {
    height: 100vw;
    max-height: 100vw;
}

.landing-cover-1{
    width: 1350px;
    height: 1120px;
    position: fixed;
    top: -135px;
    left: -392px;
    transform: rotate(60deg);
    /* background-color: #6435aa; */
    background-image: linear-gradient(to left,#9150f1,#41236d);
    z-index: -2;
}
.landing-cover-2{
    width: 675px;
    height: 1120px;
    position: fixed;
    right: -168px;
    top: 55px;
    transform: rotate(240deg);
    /* background-color: #1969ff; */
    background-image: radial-gradient(#1969ff,#9150f1);
    z-index: -1;
}
.landing-cover-3{
    position: fixed;
    width: 1620px;
    height: 672px;
    margin: -56px;
    background-color: #a66bfe;
    z-index: -3;
}
.landing-cover-white{
    position: fixed;
    width: 200vw;
    height: 200vh;
    background-color: white;
}


.container-login{
    background-color: #938adf; 
    position: absolute;
    width: 340px;
    height: 520px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 20px #29154d;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} 

.curve{
    margin-left: -260px;
    margin-top: -460px;
    width: 1050px;
    height: 850px;
    background-color: #3e236d;
    border-radius: 100%;
    box-shadow: 0 0 5px #29154d;
}

.login-google{
    all: unset;
    background-color: #3e236d;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    color: white;
    text-align: center;
    margin-left: 25px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.login-google:hover{
    box-shadow: 0 0 20px #29154d;
}

.text  {
    z-index: 3;
    position: fixed;
    top: 230px;
    width: 350px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.text-below  {
    z-index: 3;
    position: fixed;
    top: 280px;
    width: 350px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.icon{
    z-index: 3;
    position: fixed;
    top: 90px;
    margin-left: 85px;
    border-radius: 100px;
    width: 180px;
    height: 150px;
    text-align: center;
    font-size: 20px;
    background-image: url('/static/icon/ShieldLogo.png');
    background-size: contain;    
}
.cut{
    top: 15px;
    right: 20px;
    position: fixed;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.header-container{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    padding: 1vw;
    width: 98.5vw;
    margin-left: -1vw;
    margin-top: 1vw;
    border-radius: 0px 0px 55px 60px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    z-index: 1000;
}
.header .background{
    position: fixed;
    background-image: linear-gradient(to left,#6435aa,  #3e236d);
    width: 101vw;
    height: 18vh;
    margin-top: -1vw;
    margin-left: -1vw;
    border-radius: 0px 0px 55px 0px;   
    z-index: 999;
}
.icon-container{
    width: 6em;
    height: 5em;
    background-image: url('/static/icon/ShieldLogo.png');
    background-size: contain; 
    background-repeat: no-repeat;
}
.voice-header{
    width: 10vw;
    padding: 2vmin;
    border-radius: 100px;
    background-color: #3e236d;
    text-align: center;
    font-weight: 900;
}
.header-first-part{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.header-first-part div{
    flex: 2;
    justify-self: self-start;
}
.header-first-part div span{
    border-radius: 5px;
    padding-bottom: 3px;
}
.header .empty{
    flex-grow: 2;
}


.teams{
    background-color: transparent;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    padding-left: 2vw;
}

.about-us{
    width: 100vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
}


.carousal-container{
    margin-left: 5vw;
    margin-top: 15vh;
    width: 90vw;
    height: 80vh;
    position: fixed;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
    align-items: center;
    background-image: radial-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
}
.center-carousal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.small-circles{
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background-color: #3e236d;
}
.small-circles .active{
    box-shadow: 0 0 20px black;
}
.container-circles{
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-evenly;
    margin: auto;
}
.carousal-content{
    display: flex;
    flex-direction: column;
}
.center-carousal .text-area{
    width: 40vw;
    height: 30vw;
    box-sizing: border-box;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
}
.center-carousal .image-area{
    width: 45vw;
    height: 30vw;
    box-sizing: border-box;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
}
.center-carousal .text-area .big{
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
}
.center-carousal .text-area .small{
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}