<!DOCTYPE html>
<html lang="en" style="background: #a66bfe;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardinas Of Internet</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js"></script>
</head>
<body>
    <div class="container" style="display: none;">
        <div class="header">
            <div class="header-first-part"> 
                <div class="icon-container"></div>
                <span>FEATURES</span>
                <span>ABOUT US</span>
                <span>DEMO</span>
            </div>
            <button class="login-google">Sign In</button>
        </div>
    </div>

    <div id="login-card" class="container-login">
        <div class="curve">
        </div>
        <span class="text">G.O.I.</br></span>
        <div class="icon"></div>
        <span class="text-below">Guardinas Of Internet</span>
        <button class="login-google">Sign In With Google</button>
    </div>
</body>
</html>