<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardinas Of Internet</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js"></script>
</head>
<body>
    <div class="header">
        <div class="background" style="opacity: 0;"></div>  
        <div class="header-container">
            <div class="icon-container"></div>
            <div class="header-first-part">
                <div><span style="  border-bottom: 5px solid #a66bfe;"> FEATURES </span></div>
                <div><span> ABOUT US </span></div>
                <div><span> DEMO </span></div>
            </div>
        <div class="empty"></div>
        <span class="voice-header">Talk To Me</span>
        <span class="voice-header">Shut Up</span>
    </div>
        </div>
    <div class="landing-page">
        <div class="container-bg">
            <div class="landing-cover-1"></div>
            <div class="landing-cover-2"></div>
            <div class="landing-cover-3"></div>        
        </div>
    </div>
    
    
    <div class="demo">
        
    </div>


    <!-- <div id="login-card" class="container-login" style="display: none;">
        <div class="curve">
        </div>
        <span class="cut" onclick="fade('login-card',50)">X</span>
        <span class="text">G.O.I.</br></span>
        <div class="icon"></div>
        <span class="text-below">Guardinas Of Internet</span>
        <button class="login-google">Sign In With Google</button>
    </div> -->



</body>
</html>