<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-bg">
        <div class="landing-cover-1"></div>
        <div class="landing-cover-2"></div>
        <div class="landing-cover-3"></div>        
    </div>

    <div class="header">
        <div class="icon-container"></div>
        <div class="header-first-part"> 
            <span>FEATURES</span>
            <span>ABOUT US</span>
            <span>DEMO</span>
        </div>
        <div class="empty"></div>
        <span class="voice-header">Talk To Me</span>
    </div>
</body>
</html>